@import "@styles/variable.scss";

.container {
    min-height: 100vh;
    height: 100%;
    width: 100%;

    &.darkMode {
        background-color: $dark-surface-primary;
        color: $white;
        transition: background-color $duration-slow $ease-out-quart, color $duration-slow $ease-out-quart;
    }

    .progressBar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: linear-gradient(90deg, $pink-pressed, $pink-default, $pink-ligthen);
        transform-origin: 0%;
        z-index: 30;
    }

    .body {
        padding-top: 64px;
        height: 100%;
        width: 100%;

        @include TABLET {
        }

        @include MOBILE {
        }
    }
}
