.headerWrapper {
    border: 1px solid red;
    padding: 25px;

    display: flex;
    justify-content: space-between;

    .leftWrapper {
        display: flex;
        justify-content: space-between;

        .mainLink {
            //margin: 10px;
        }
    }

    .rightWrapper {
        display: flex;
    }
}
