@import "@styles/variable.scss";

.box {
  background-color: $black-600;
  border-radius: 5px;
  padding: 30px 20px;

  &.dark {
    background-color: $black-200;
  }
}

.block {
  margin-bottom: 4rem;
}


.introduceBlock {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  @include TABLET {
    flex-direction: column;
  }

  .pargraphs {
    width: 60%;
    @include TABLET {
      width: 100%;
    }
  }

  .firstBlock {
    display: flex;
    justify-content: space-around;
  }

  .myPics {
    text-align: right;
    padding-top: 20px;
    @include TABLET {
      text-align: center;
    }

    .pics {
      width: 60%;
      height: auto;

      @include TABLET {
        width: 100%;
      }
    }
  }
}

.topBox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 50px;

  @include TABLET {
    display: flex;
    flex-direction: column;
  }

  .textWrapper {
    padding: 30px;
  }

  .pics {
    margin-top: 30px;
    border-radius: 5px;
    width: 100%;
    height: auto;

    @include TABLET {
      width: 100%;
    }
  }
}

.secondBox {
  margin-top: 50px;
  margin-bottom: 50px;

  .osakaWrapper {
    display: flex;
    justify-content: center;
  }

  .pics {
    margin-top: 30px;
    border-radius: 5px;
    width: 40%;
    height: auto;

    @include TABLET {
      width: 60%;
    }
  }
}

.thirdBox {
  margin-top: 50px;
  margin-bottom: 50px;
  .titleWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .kyotoWrapper {
    display: flex;
    justify-content: center;
  }

  .pics {
    margin-top: 30px;
    border-radius: 5px;
    width: 40%;
    height: auto;

    @include TABLET {
      width: 60%;
    }
  }
}