@import "@styles/variable.scss";

.wholeWrapper {
  .block {
    margin-bottom: 4rem;
  }

  .introduceBlock {
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;
    @include TABLET {
     
      flex-direction: column;
    }
    
    .pargraphs {
      width: 60%;
      @include TABLET {
        width: 100%;
      }
    }

    .firstBlock {
      display: flex;
      justify-content: space-around;
    }

    

    .myPics {
      text-align: right;
      padding-top: 20px;
      @include TABLET {
        text-align: center;
      }

      .pics {
        width: 60%;
        height: auto;

        @include TABLET {
          width: 100%;
        }
      }

      
    }

  }
  .careerBlock {
    margin-top: 130px;
    margin-bottom: 130px;
    
    .careerParagraphs {
      display: flex;
      flex-direction: column;
      text-align: right;
      margin-bottom: 50px;

      .cbParagraph {
        display: flex;
        justify-content: flex-end;

        &:nth-child(2) {
         min-width: 300px; 
        }

        @include TABLET {
          flex-direction: column;
        }
      }
    }
  }
}