@import "@styles/variable.scss";

.mainTop {
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include TABLET {
        flex-direction: column;
    }

    .paragraphWrapper {
        p {
            margin: 10px;
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 20px;

            &:nth-child(1) {
                font-size: 3rem;
                font-weight: 800;
                margin-bottom: 40px;
            }

            &:nth-child(2) {
                margin-left: 50px;
                @include TABLET {
                    margin-left: 0;
                }
            }
            &:nth-child(3) {
                margin-left: 50px;
                @include TABLET {
                    margin-left: 0;
                }
            }
            &:nth-child(4) {
                margin-left: 50px;
                @include TABLET {
                    margin-left: 0;
                }
            }
            &:nth-child(5) {
                margin-left: 50px;
                @include TABLET {
                    margin-left: 0;
                }
            }
            &:nth-child(6) {
                margin-left: 50px;
                @include TABLET {
                    margin-left: 0;
                }
            }
            &:nth-child(7) {
                margin-left: 50px;
                @include TABLET {
                    margin-left: 0;
                }
            }

            @include TABLET {
                margin-left: 0;
            }
        }

        &.english {
            p {
                margin: 13px;
            }

            @include TABLET {
                margin-left: 0px;
            }
        }
    }
}

.mainMid {
    margin-top: 130px;
    margin-bottom: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include TABLET {
        flex-direction: column;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
    }

    .midBlock {
        color: $black-700;
        margin: 0px 20px;
        padding: 15px;
        width: 200px;
        background-color: $black-300;
        border-radius: 10px;
        box-shadow: $shadow;
        transition: all 0.1s ease-in;

        @include TABLET {
            margin: 10px 10px;
            padding: 10px;
            width: 200px;

            p {
                font-size: 0.8rem;
            }
        }

        .yearChar {
            text-align: right;
        }

        &:hover {
            cursor: pointer;
            transform: translate(0px, -10px);
            transition: all 0.1s ease-in;
        }
    }

    &.dark {
        .midBlock {
            color: $white;
            background-color: $black-600;
        }
    }

    .yearNumWrapper {
        .yearNum {
            text-align: center;
            color: $pink-ligthen;
            font-size: 3rem;
            font-weight: 800;
            user-select: none;
        }
    }
}

.mainBot {
    margin-top: 130px;
    margin-bottom: 130px;

    .botImage {
        display: flex;
        justify-content: center;
        align-items: center;

        @include TABLET {
            flex-direction: column;
            align-items: center;
        }
    }

    .botBlock {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include TABLET {
            flex-direction: column;
            align-items: center;
        }

        .workContents {
            margin-top: 20px;
            height: 210px;
            width: 500px;
            color: $black-700;
            background-color: $black-300;
            border-radius: 10px;
            padding: 12px 15px;
            opacity: 0.8;
            box-shadow: $shadow;
            transition: all 0.1s ease-in;

            @include TABLET {
                height: 100%;
                width: 100%;
            }

            &:nth-child(1) {
                margin-right: 20px;

                @include TABLET {
                    margin-right: 0px;
                }
            }

            .contents {
                margin-top: 6px;
            }

            &:hover {
                cursor: pointer;
                transform: translate(0px, -10px);
                transition: all 0.1s ease-in;
                opacity: 1;
            }
        }

        .ciLogo {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
        }
    }

    &.dark {
        .botBlock {
            .workContents {
                color: $white;
                background-color: $black-600;
            }
        }
    }
}
