@import "@styles/variable.scss";

.mainWrapper {
    // border: 1px solid green;

    .mainTop {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        .imageWrapper {
        }

        .paragraphWrapper {
            p {
                margin: 10px;
                font-size: 1.2rem;
                font-weight: 500;
                margin-bottom: 20px;

                &:nth-child(1) {
                    font-size: 3rem;
                    font-weight: 800;
                    margin-bottom: 40px;
                }

                &:nth-child(2) {
                    margin-left: 50px;
                }
                &:nth-child(3) {
                    margin-left: 50px;
                }
                &:nth-child(4) {
                    margin-left: 50px;
                }
                &:nth-child(5) {
                    margin-left: 50px;
                }
                &:nth-child(6) {
                    margin-left: 50px;
                }
            }
        }
    }

    .mainMid {
        margin-top: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            font-size: 1rem;
            font-weight: 500;
            text-align: left;
        }

        .midBlock {
            color: $black-700;
            margin: 0px 20px;
            padding: 15px;
            width: 150px;
            background-color: $black-300;
            border-radius: 10px;
            box-shadow: $shadow;

            .yearChar {
                text-align: right;
            }

            &:hover {
              cursor: pointer;
              transform: translate(0px, -10px);
              transition: all 0.3s ease-in;
            }
        }

        &.dark {
            .midBlock {
                color: $white;
                background-color: $black-600;
            }
        }

        .yearNumWrapper {
            .yearNum {
                text-align: center;
                color: $pink-ligthen;
                font-size: 3.5rem;
                font-weight: 800;
            }
        }
    }

    .mainBot {
        margin-top: 130px;

        .botBlock {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .workContents {
                margin-top: 20px;
                height: 210px;
                width: 500px;
                color: $black-700;
                background-color: $black-300;
                border-radius: 10px;
                padding: 12px 15px;
                opacity: 0.8;
                box-shadow: $shadow;

                &:nth-child(1) {
                    margin-right: 20px;
                }

                .contents {
                  margin-top: 13px;
                }

                &:hover {
                  cursor: pointer;
                  transform: translate(0px, -10px);
                  transition: all 0.3s ease-in;
                  opacity: 1;
                }
            }
        }

        &.dark {
            .botBlock {
                .workContents {
                    color: $white;
                    background-color: $black-600;
                }
            }
        }
    }
}
