@import '@styles/variable.scss';

.picsWrapper {
  margin-top: 2rem;
}

.picsBlock {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  img {
    margin-top: 20px;
  }
}

.pics {
  width: 100%;
  height: 100%;
}

.height {
  height: 60vh;
}

.mobilePics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 50%;
    @include TABLET {
      width: 100%;
    }
  }
  

}