@import "@styles/variable.scss";
.mainBot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 50px;

    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include MOBILE {
        grid-template-columns: repeat(1, 1fr);
    }

    .botBlock {

        display: flex;
        flex-direction: row;
        justify-content: center;

        @include TABLET {
            flex-direction: column;
            align-items: center;
        }

        .workContents {
            margin-top: 20px;
            min-height: 210px;
            height: 300px;

            width: 100%;
            color: $black-700;
            background-color: $black-300;
            border-radius: 10px;
            padding: 12px 15px;
            opacity: 0.8;
            box-shadow: $shadow;
            transition: all 0.1s ease-in;

            @include TABLET {
                height: 100%;
                width: 100%;
            }

            .contents {
                margin-top: 6px;
            }

            &:hover {
                cursor: pointer;
                transform: translate(0px, -10px);
                transition: all 0.1s ease-in;
                opacity: 1;
            }
        }

        .ciLogo {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
        }
    }

    &.dark {
        .botBlock {
            .workContents {
                color: $white;
                background-color: $black-600;
            }
        }
    }
}
