@import '@styles/variable.scss';

.contentsWrapper {
  display: flex;
  flex-direction: row;

  @include TABLET {
    flex-direction: column;
  }

  .paragraphs {
    min-width: 50%;
    margin-bottom: 50px;
  }

  .picsWrapper {
    text-align: right;
  }

}