@font-face {
    font-family: "Pretendard";
    src: url("/kbslBlog/font/PretendardVariable.woff2") format("woff2 supports variations"),
    url("/kbslBlog/font/PretendardVariable.woff2") format("woff2-variations");
    font-display: swap;
  }  