@import "variable.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    line-height: 1.3;
    font-size: $large-font;
    font-family: $maruburi;
}

body {
    font-family: $maruburi;
}

ul,
ol,
li {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
  }