@import "variable.scss";

#nprogress {
    pointer-events: none;
    .bar {
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: $pink-progress;
    }
    .peg { display: none; }
    .spinner { display: none; }
}

@media (prefers-reduced-motion: reduce) {
    #nprogress .bar { transition: none !important; }
}
