@import '@styles/variable';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 90vh;
        min-width: 150px;
        padding: 30px 25px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 101;

        &.dark {
            background-color: $black-600;
            color: white;
        }

        .header {
            width: 100%;
            height: 30px;

            display: flex;
            justify-content: space-between;

            align-items: center;
            margin-bottom: 40px;

            .closeButton {
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
                &:active {
                    opacity: 0.5;
                }
            }
            

        }

        .contents {
            overflow: auto;
            min-height: 100px;
            max-height: 70vh;
            min-width: 400px;
            width: 100%;

            @include MOBILE {
                min-width: 300px;
            }

            @include S_MOBILE {
                min-width: 300px;
                min-height: 100px;
            }

            img {
                display: block;
                max-width: 100%;
                height: auto;
                object-fit: contain; // 혹은 cover, 원하는 방식에 따라 조절
            }
        }
    }
}