@import "@styles/variable";

.paginationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 70px;

  gap: 10px;

  .pageNum {
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .active {
    color: $pink-ligthen;
    font-weight: bold;
    background-color: $black-400;
    padding: 6px 7px;
  }

  .arrow {
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

}
