@import "@styles/variable.scss";

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .button {
    border: none;
    border-radius: 7px;
    padding: 7px 8px;
    height: 50px;

    @include TABLET {
      height: 40px;
    }

    @include MOBILE {
      height: 30px;
      padding: 5px 6px;
    }

    @include S_MOBILE {
      height: 25px;
      padding: 4px 5px;
    }

    background-color: $pink-pressed;
    color: white;

    &.white {
      color: $black-100;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &.submit {
      background-color: $green-default;
    }

    &.reset {
      background-color: $black-500;

      &.white {
        color: $black-100;
      }
    }

    &.cancel {
      background-color: $red-default;
    }

    &.icon {
      height: 30px;
      width: 100%;
      padding: 2px;
      background-color: $black-500;

      &.white {
        background-color: $black-100;
      }
    }

    &.thumb {
      background-color: $black-400;
      height: 100px;
      width: 100px;

      &.white {
        background-color: $black-200;
      }
    }

    // 폰트사이즈
    &.xx-small {
      font-size: $xx-small-font;
    }

    &.x-small {
      font-size: $x-small-font;

      @include TABLET {
        font-size: $xx-small-font;
      }

      @include MOBILE {
        font-size: $xx-small-font;
      }

      @include S_MOBILE {
        font-size: $xx-small-font;
      }
    }

    &.small {
      font-size: $small-font;

      @include TABLET {
        font-size: $x-small-font;
      }

      @include MOBILE {
        font-size: $xx-small-font;
      }

      @include S_MOBILE {
        font-size: $xx-small-font;
      }
    }

    &.medium {
      font-size: $medium-font;

      @include TABLET {
        font-size: $small-font;
      }

      @include MOBILE {
        font-size: $x-small-font;
      }

      @include S_MOBILE {
        font-size: $xx-small-font;
      }
    }

    &.large {
      font-size: $large-font;

      @include TABLET {
        font-size: $medium-font;
      }

      @include MOBILE {
        font-size: $small-font;
      }

      @include S_MOBILE {
        font-size: $x-small-font;
      }
    }

    &.x-large {
      font-size: $x-large-font;

      @include TABLET {
        font-size: $large-font;
      }

      @include MOBILE {
        font-size: $medium-font;
      }

      @include S_MOBILE {
        font-size: $small-font;
      }
    }

    &.xx-large {
      font-size: $xx-large-font;

      @include TABLET {
        font-size: $x-large-font;
      }

      @include MOBILE {
        font-size: $large-font;
      }

      @include S_MOBILE {
        font-size: $medium-font;
      }
    }

    &.xxx-large {
      font-size: $xxx-large-font;

      @include TABLET {
        font-size: $xx-large-font;
      }

      @include MOBILE {
        font-size: $x-large-font;
      }

      @include S_MOBILE {
        font-size: $large-font;
      }
    }

    &.xxxx-large {
      font-size: $xxxx-large-font;
      @include TABLET {
        font-size: $xxx-large-font;
      }

      @include MOBILE {
        font-size: $xx-large-font;
      }

      @include S_MOBILE {
        font-size: $x-large-font;
      }
    }

    // 폰트굵기
    &.bold {
      font-weight: bold;
    }

    &.normal {
      font-weight: normal;
    }
  }
}