@import "@styles/variable.scss";

.inputBasicWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input {
    outline: none;
    border-radius: 7px;
    padding: 7px 8px;
    height: 50px;

    border: 2px solid $pink-ligthen;

    &:focus {
      border: 2px solid $pink-pressed;
    }

    &:hover {
      border: 2px solid $pink-hover;
    }

    &.dark {
      border: 2px solid $pink-ligthen;

      &:focus {
        border: 2px solid $pink-pressed;
      }

      &:hover {
        border: 2px solid $pink-hover;
      }
    }

    &.disabled {
      background-color: $black-500;
      color: $black-200;
      border: 1px solid $black-400;

      &:hover {
        cursor: not-allowed;
      }
    }


    // 폰트사이즈
    &.xx-small {
      font-size: $xx-small-font;
    }

    &.x-small {
      font-size: $x-small-font;

      @include TABLET {
        font-size: $xx-small-font;
      }

      @include MOBILE {
        font-size: $xx-small-font;
      }

      @include S_MOBILE {
        font-size: $xx-small-font;
      }
    }

    &.small {
      font-size: $small-font;

      @include TABLET {
        font-size: $x-small-font;
      }

      @include MOBILE {
        font-size: $xx-small-font;
      }

      @include S_MOBILE {
        font-size: $xx-small-font;
      }
    }

    &.medium {
      font-size: $medium-font;

      @include TABLET {
        font-size: $small-font;
      }

      @include MOBILE {
        font-size: $x-small-font;
      }

      @include S_MOBILE {
        font-size: $xx-small-font;
      }
    }

    &.large {
      font-size: $large-font;

      @include TABLET {
        font-size: $medium-font;
      }

      @include MOBILE {
        font-size: $small-font;
      }

      @include S_MOBILE {
        font-size: $x-small-font;
      }
    }

    &.x-large {
      font-size: $x-large-font;

      @include TABLET {
        font-size: $large-font;
      }

      @include MOBILE {
        font-size: $medium-font;
      }

      @include S_MOBILE {
        font-size: $small-font;
      }
    }

    &.xx-large {
      font-size: $xx-large-font;

      @include TABLET {
        font-size: $x-large-font;
      }

      @include MOBILE {
        font-size: $large-font;
      }

      @include S_MOBILE {
        font-size: $medium-font;
      }
    }

    &.xxx-large {
      font-size: $xxx-large-font;

      @include TABLET {
        font-size: $xx-large-font;
      }

      @include MOBILE {
        font-size: $x-large-font;
      }

      @include S_MOBILE {
        font-size: $large-font;
      }
    }

    &.xxxx-large {
      font-size: $xxxx-large-font;
      @include TABLET {
        font-size: $xxx-large-font;
      }

      @include MOBILE {
        font-size: $xx-large-font;
      }

      @include S_MOBILE {
        font-size: $x-large-font;
      }
    }
  }
}